<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
</head>
<body>
  <!-- Header -->
  <h1>About</h1>

  <!-- Paragraphs -->
  <p>
    Welcome to my website. Its purpose is to document my projects 
    and the topics I'm exploring. It's my pet project and portfolio 
    to showcase my skills and knowledge. 
  </p>
  <p>
    Another goal is improving my English writing skills 
    (especially in technical documentation). Since it's not 
    my native language, writing more and more will help me think 
    and form ideas much faster and better, making it more fluent 
    for me. 
  </p>
  <p>
    Use the header above for navigation. You can use the Articles 
    page to follow any updates on my work and the Projects page 
    to read articles about particular areas that I explore. 
  </p>
  <p>
    This website is still in development and will keep improving 
    step by step over time. You can read more about it and follow 
    its progress and updates. 
  </p>
</body>
</html>