footer {
  background-color: #5f8272;
  display: flex;
  justify-content: center; /* Centers the elements along the flex direction */
}

.footer-copyright {
  margin: 0;
  padding: 10px 0;
  font-size: 15px;
  color: #fbf7ee;
}